* {
	background-image: url("http://wallpapercave.com/wp/pEeUsp1.jpg");
<<<<<<< HEAD
<<<<<<< HEAD
=======
	font-family: "Press Start K";
>>>>>>> master
=======
>>>>>>> master
	margin: 0;
	padding: 0;
	overflow: hidden;
}

@font-face {
    font-family: 'Press Start K';
    src: url('assets/prstartk.ttf');
}